<div class="window draggable resizable" [class.active]="window.cpl_openWindow === component" id="{{ component }}" draggable resizable style="left: 25%; top: 15%;" [class.maximised]="maximised">
  <div class="window-title">
    <h1>{{ component }}</h1>
    <div class="buttons">
      <button class="minimise"></button>
      <button class="maximise" (click)="maximised = !maximised"></button>
      <button class="close"></button>
    </div>
  </div>
  <div class="window-content">
    <ng-template programsHost></ng-template>
  </div>
</div>
