.container {
  position: relative;
  height: 100%;
  display: grid;
  place-content: center;
  // --background-color: red;
  background-color: white;

  &::before {
    content: "";
    z-index: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
  }

  &.clouds::before { mask-image: url('/assets/images/svg_backgrounds/endless-clouds.svg'); }
  &.wiggle::before { mask-image: url('/assets/images/svg_backgrounds/wiggle.svg'); }
  &.diamonds::before { mask-image: url('/assets/images/svg_backgrounds/morphing-diamonds.svg'); }

  .content {
    z-index: 1;
    background-color: white;
    padding: 2rem;
    border-radius: 0.5rem;
    box-shadow: 6px 6px 13px 5px #000000b8;

    button {
      font-size: 2rem;

      &:focus {
        box-shadow: none;
      }
    }
  }
}