<div class="wrapper" id="little-guy-wrapper">
  <section id="container">
    <div id="little-guy" [style]="elementstyle">
      <div class="face one">
        <img src="assets/images/face2.webp" alt="face1" />
      </div>
      <div class="face two">
        <img [src]="face_img" alt="face2" />
      </div>
      <div class="face three">
        <img src="assets/images/face2.webp" alt="face3" />
      </div>
      <div class="face four">
        <img src="assets/images/face3.webp" alt="face4" />
      </div>
      <div class="face five">
        <img src="assets/images/face2.webp" alt="face5" />
      </div>
      <div class="face six">
        <img src="assets/images/face2.webp" alt="face6" />
      </div>
    </div>
  </section>
</div>
