html, body, app-root, app-window {
  height: 100%;
}

// * Rendre l'element app-window compatible avec interact.js, et empeche les pointer events de faire chier
app-window {
	width: 100%;
	height: 100%;
	display: block;
	pointer-events: none;
	position: absolute;

	&>* {
		pointer-events: all;
	}
}

html {
  font-size: 18px;
  font-family: 'Righteous', cursive;
	color: $font-color;
	background: $desktop-background-color;
	overflow: hidden;
	padding-bottom: 3rem;
}

app-root {
	display: flex;
	flex-direction: column;
	position: relative;
}

ul {
	list-style-type: none;
}

.hidden, [hidden] {
	display: none;
	visibility: hidden;
}

.spacer {
	flex-grow: 1!important;
}