<div [class]="'container ' + currentClass" [style]="'--background-color: ' + currentColor + '; background-color: ' + backgroundColor + ';'">
  <section class="content">
    <button (click)="getRandom()">
      <h1>SVG Background</h1>
    </button>
  </section>
  <div class="controls">
    <label>Color: <input type="color" [(ngModel)]="currentColor"></label>
    <label>Background: <input type="color" [(ngModel)]="backgroundColor"></label>
    <label>
      Class: 
      <select name="bg-class" id="bg-class" [(ngModel)]="currentClass">
        <option id="clouds">clouds</option>
        <option id="wiggle">wiggle</option>
        <option id="diamonds">diamonds</option>
        <option id="topography">topography</option>
        <option id="charlie-brown">charlie-brown</option>
        <option id="death-star">death-star</option>
        <option id="bamboo">bamboo</option>
        <option id="church-on-sunday">church-on-sunday</option>
        <option id="bathroom-floor">bathroom-floor</option>
      </select>
    </label>
  </div>
  <div class="disclamer">
    All backgrounds come from <a href="https://heropatterns.com/">heropatterns.com</a>
  </div>
</div>
