body {
	font-size:14px;color:#222;background:#F7F7F7;

	&.navbar-fixed {
		margin-top:55px;
	}
}

button,
.button {
	margin-bottom: 1.2;
}

fieldset {
	margin-bottom: 1.5rem;
}

input,
textarea,
select,
pre,
blockquote,
figure,
table,
p,
ul,
ol,
dl,
form,
.fluid-video-wrapper,
.ss-custom-select {
	margin-bottom: 3rem;
}

img.pull-right {
	margin: 1.5rem 0 0 3rem;
}

img.pull-left {
	margin: 1.5rem 3rem 0 0;
}

a {
	text-decoration: none;
	line-height: inherit;
}

a img {
	border: none;
}

.section-intro {
	text-align: center;
	position: relative;
	margin-bottom: 1.5rem;

	h1 {
		font-family: "Libre Baskerville", serif;
		font-weight: bold;
		font-size: 4.8rem;
		line-height: 1.375;
		color: #151515;
	}
	h3 {
		font-family: "Montserrat", sans-serif;
		font-weight: bold;
		font-size: 2rem;
		color: #4C2405;
		text-transform: uppercase;
		letter-spacing: .15rem;
		margin-bottom: 0;
	}
}
.section-intro.with-bottom-sep {
	padding-bottom: 4.2rem;
	position: relative;
	
	&::after {
		display: inline-block;
		height: 1px;
		width: 240px;
		background-color: #dedede;
		text-align: center;
	}
}

@media only screen and (max-width:768px) {
	.section-intro h1 {
		font-size: 4.2rem;
	}

	.section-intro h3 {
		font-size: 1.8rem;
	}

}

@media only screen and (max-width:600px) {
	.section-intro h1 {
		font-size: 3.6rem;
	}

	.section-intro h3 {
		font-size: 1.7rem;
	}

}

@media only screen and (max-width:400px) {
	.section-intro h1 {
		font-size: 3.3rem;
	}

	.section-intro h3 {
		font-size: 1.6rem;
	}

}

.wide {
	max-width: 1300px;
}

.narrow {
	max-width: 800px;
}

.animate-this,
.animate-intro {
	opacity: 0;
}

.oldie .animate-this,
.oldie .animate-intro
.no-cssanimations .animate-this,
.no-cssanimations .animate-intro {
	opacity: 1;
}