fieldset {
	border: none;
}

input[type="email"],
input[type="number"],
input[type="search"],
input[type="text"],
input[type="tel"],
input[type="url"],
input[type="password"],
textarea,
select {
	display: block;
	height: 6rem;
	padding: 1.5rem 0;
	border: 0;
	outline: none;
	vertical-align: middle;
	color: #313131;
	font-family: "Montserrat", sans-serif;
  font-weight: 500;
	font-size: 1.5rem;
	line-height: 3rem;
	max-width: 100%;
	background: transparent;
	border-bottom: 1px solid rgba(0, 0, 0, 0.3);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
}

.ss-custom-select {
	position: relative;
	padding: 0;

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    text-indent: 0.01px;
    text-overflow: '';
    margin: 0;
    line-height: 3rem;
    vertical-align: middle;

    option {
      padding-left: 2rem;
      padding-right: 2rem;
    }
    &::-ms-expand {
      display: none;
    }
  }
  &::after {
    content: '\f0d7';
    font-family: 'FontAwesome';
    position: absolute;
    top: 50%;
    right: 1.5rem;
    margin-top: -10px;
    bottom: auto;
    width: 20px;
    height: 20px;
    line-height: 20px;
    font-size: 18px;
    text-align: center;
    pointer-events: none;
    color: #252525;
  }
}

textarea {
	min-height: 25rem;
}

input[type="email"]:focus,
input[type="number"]:focus,
input[type="search"]:focus,
input[type="text"]:focus,
input[type="tel"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
textarea:focus,
select:focus {
	color: #1c0d02;
	border-bottom: 1px solid #4C2405;
}

label,
legend {
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	font-size: 1.4rem;
	margin-bottom: .6rem;
	color: #020202;
	display: block;
}

input[type="checkbox"],
input[type="radio"] {
	display: inline;
}

label > .label-text {
	display: inline-block;
	margin-left: 1rem;
	font-family: "Montserrat", sans-serif;
	font-weight: 500;
	line-height: inherit;
}

label > input[type="checkbox"],
label > input[type="radio"] {
	margin: 0;
	position: relative;
	top: .15rem;
}

.ajax-loader {
	display: none!important;
}