#icons {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 0.5rem;
  max-height: calc(100% - 1rem - 3rem);
  width: fit-content;
  padding: 0.5rem;
	position: absolute;

  .icon {
    height: 5rem;
    width: 5rem;
	  display: flex;
	      flex-direction: column;
		justify-content: center;
		align-items: center;
		align-content: center;
	  user-select: none;
	  text-align: center;
	  cursor: pointer;
	  
	  img {
		  height: 3.5rem;
		  max-height: 3.5rem;
	  }
  }
}