#menu-nav-wrap {
  background: #111111;
	color: rgba(255, 255, 255, 0.25);
	font-family: "Montserrat", sans-serif;
	font-size: 1.5rem;
	line-height: 1.6;
	padding: 3.6rem 3rem;
	height: 100%;
	width: 240px;
	position: fixed;
	right: 0;
	top: 0;
	visibility: hidden;
	z-index: 800;
	overflow-y: auto;
	-webkit-transform: translateZ(0);
	-webkit-backface-visibility: hidden;
	-webkit-transform: translateX(100%);
	-ms-transform: translateX(100%);
	transform: translateX(100%);
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	-webkit-transition: all 0.4s ease-in-out;
	-ms-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
  a, a:visited {
    color: rgba(255, 255, 255, 0.5);
  }
  a:hover, a:focus, a:active {
    color: white;
  }
  h3 {
    color: white;
    font-family: "Montserrat", sans-serif;
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1.5rem;
  }

  .nav-list {
    margin: 3.6rem 0 1.5rem 0;
    padding: 0 0 1.8rem 0;
    list-style: none;
    line-height: 3.6rem;
    li {
      padding-left: 0;
      border-bottom: 1px dotted rgba(255, 255, 255, 0.03);
      line-height: 4.2rem;
      &:first-child {
        border-top: 1px dotted rgba(255, 255, 255, 0.03);
      }
      a {
        color: rgba(255, 255, 255, 0.25);
	      display: block;

        &:hover, &:focus {
          color: white;
        }
      }
    }
  }

  .header-social-list {
    list-style: none;
    display: inline-block;
    margin: 0;
    font-size: 2.1rem;
    li {
      margin-right: 12px;
      padding-left: 0;
      display: inline-block;
      a {
	      color: rgba(255, 255, 255, 0.15);

        &:hover, &:focus {
	        color: white;
        }
      }
      &:last-child {
        margin: 0;
      }
    }
  }

  .close-button {
    display: block;
    height: 30px;
    width: 30px;
    border-radius: 3px;
    background-color: rgba(0, 0, 0, 0.3);
    position: absolute;
    top: 36px;
    right: 30px;
    font: 0/0 a;
    text-shadow: none;
    color: transparent;

    span {
      &::before, &::after {
        content: "";
        display: block;
        height: 2px;
        width: 12px;
        background-color: #fff;
        position: absolute;
        top: 50%;
        left: 9px;
        margin-top: -1px;
      }
      &::before {
        -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        transform: rotate(-45deg);
      }
      &::after {
        -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        transform: rotate(45deg);
      }
    }
  }
}

.menu-is-open {
  #menu-nav-wrap {
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    visibility: visible;
    -webkit-overflow-scrolling: touch;
  }
}

#header-menu-trigger {
	display: block;
	position: fixed;
	right: 26px;
	top: 30px;
	height: 42px;
	width: 42px;
	line-height: 42px;
	font-family: "Montserrat", sans-serif;
	font-size: 1.4rem;
	text-transform: uppercase;
	letter-spacing: .2rem;
	color: rgba(255, 255, 255, 0.5);
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	-webkit-transition: all 0.3s ease-in-out;
	-ms-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;

  .opaque {
	  background-color: #000000;
    .header-menu-text {
	    background-color: #000000;
    }
  }

  &:hover, &:focus {
	  color: #FFFFFF;
  }

  .header-menu-text {
    display: block;
    position: absolute;
    top: 0;
    left: -75px;
    width: 75px;
    text-align: center;
    background-color: transparent;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .header-menu-icon {
    display: block;
    height: 2px;
    width: 24px;
    background-color: #FFFFFF;
    position: absolute;
    top: 50%;
    right: 9px;
    margin-top: -2px;

    &::before, &::after {
      content: '';
      width: 100%;
      height: 100%;
      background-color: inherit;
      position: absolute;
      left: 0;
    }
    &::before {
	    top: -9px;
    }
    &::after {
      bottom: -9px;
    }
  }
}

.navbar-brand { 
  font-weight:bold; 
}
.nav-item.avatar a { 
  cursor:pointer;
  text-transform:capitalize;
}
.nav-item.avatar a > i { 
  font-size:15px; 
}
.nav-item.avatar .dropdown-menu a { 
  font-size:13px; 
}